[Unit]
Description=Wind Receiver
Wants=
After=network.target

[Service]
Type=notify

User=yggdra
Group=yggdra

ExecStart=/usr/local/bin/wind_receiver

Restart=always

TimeoutStartSec=15
WatchdogSec=10

[Install]
WantedBy=multi-user.target
